{% extends 'base.html.twig' %}

{% block title %}
    Home | {{ name }}
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <!-- {{ parent() }} -->
        Re coucou {{ name }}
    </div>
{% endblock %}